/* 배경 설정 */
.backgroundImg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 배경 이미지 설정 */
.backgroundImage {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* 아바타 GIF 중앙 배치 */
.gif-animation {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  z-index: 1;
}

/* 오른쪽 하단에 위치한 원형 3D 버튼 스타일 */
.button-text {
  position: absolute;
  bottom: 180px; /* 화면 하단에서 간격 */
  right: 30px; /* 화면 오른쪽에서 간격 */
  width: 100px;
  height: 100px;
  background-color: #3498db; /* 버튼 기본 색상 */
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 100px; /* 텍스트를 버튼 중앙에 배치 */
  cursor: pointer;
  border-radius: 50%; /* 원형 버튼 */
  box-shadow: 0px 8px 0 #21618c; /* 그림자를 아래로 */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  z-index: 10;
}
.gif-overlay {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 설정 */
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 2;
}

/* 버튼 클릭 시 눌리는 효과 */
.button-text:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0 #21618c;
}

/* 모달 설정 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #3784f644;
  width: 70%;
  height: 90%;
  border: 4px solid #4c00ff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* 모달 헤더 스타일 */
.modal-header {
  background-color: #d0bde251;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4c00ff;
  position: relative;
}

/* 닫기 버튼 스타일 */
.close {
  font-size: 30px;
  font-weight: bold;
  color: #4c00ff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}

/* 모달 본문 스타일 */
.modal-body {
  background-color: #3784f644;
  color: #4c00ff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.7), 0 0 16px rgba(0, 255, 255, 0.5);
}
