/* 배경 설정 */
.backgroundImg {
  position: absolute;
width: 100%;
height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.texttitle {
  position: absolute;
  top: 25%; /* GIF 위에 위치 조정 */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.429); /* 검정색 반투명 배경 */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.5em;
  text-align: center;
  z-index: 11; /* GIF 이미지 위에 표시되도록 z-index 설정 */
}
/* 배경 이미지 설정 */
.backgroundImage {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%; /* 화면 전체를 덮음 */
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* 아바타 GIF 중앙 배치 */
.gif-animation {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  z-index: 10;
}

/* 오른쪽 하단에 고정된 원형 3D 버튼 스타일 */
.button-text {
  position: fixed; /* 항상 고정되도록 설정 */
  bottom: 30px; /* 화면 하단에서 간격 */
 right: 50px; /* 화면 오른쪽에서 간격 */
  width: 100px;
  height: 100px;
  background-color: #56b3f1;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 8px 0 #195176;
 
  z-index: 11; /* 아바타와 겹치지 않도록 설정 */
}

/* 버튼 클릭 시 눌리는 효과 */
.button-text:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0 #21618c;
}

/* 모달 설정 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #3784f644;
  width: 70%;
  height: 90%;
  border: 4px solid #4c00ff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* 모달 헤더 스타일 */
.modal-header {
  background-color: #d0bde251;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4c00ff;
  position: relative;
}

/* 닫기 버튼 스타일 */
.close {
  font-size: 30px;
  font-weight: bold;
  color: #4c00ff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}

/* 모달 본문 스타일 */
.modal-body {
  background-color: #4990f92a;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
